.itemDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  padding: 1rem;
  margin: 1rem;
  width: 220px;
  min-height: 280px;
  border: 2px solid #e0e0e0;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.itemDetail:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

/* Título */
.itemDetail-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  color: #333;
}


.itemDetail-description {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
  line-height: 1.3;
  min-height: 45px;
}

/* Precio */
.itemDetail span {
  font-weight: bold;
  color: #5c2d15;
}


.itemDetail-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #c7916d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
}

.itemDetail-btn:hover {
  background-color: #a56b44;
  transform: scale(1.05);
}
.itemDetail-btn-cart{
display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #c7916d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}


.shoppingCart {
  font-size: 1.2rem;
  margin-right: 6px;
}


.itemDetail-btn a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}


/* detalle del producto */
.product-detail {
  background-color: #fffaf5;       
  border-radius: 16px;              
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  padding: 24px;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;                
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}


.product-detail img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 16px;
}

.product-detail h1 {
  font-size: 1.6rem;
  color: #6b3e26;
  margin-bottom: 8px;
}

.product-detail p {
  font-size: 1rem;
  color: #4b3621;
  margin-bottom: 10px;
}

