.itemCount{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.itemCount-btn {

    align-items: center;
    width: 3rem;
    padding: 0.2rem;
    border: none;
    border-radius: 8px;
    background-color: #c7916d;
    color: white;
    font-weight: 1000;
    cursor: pointer;
    margin-bottom: 0.5rem;
}

.itemCount-btn-add{
    display: flex;
    align-items: center;
    justify-content: center;
    width:10rem;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 8px;
    background-color: #c7916d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}